{% extends "layout-gov-uk.html" %}

{% block page_title %}
  Alpha - documents
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-full column-minimum">

 <!--     <a href="la-dashboard.html" class="link-back">Back</a>-->

		<!--Breadscrumbs-->

		<div class="govuk-c-breadcrumbs">
  <ol class="govuk-c-breadcrumbs__list">
    <li class="govuk-c-breadcrumbs__list-item">
      <a class="govuk-c-breadcrumbs__link" href="index">Public Law</a>
    </li>
    <li class="govuk-c-breadcrumbs__list-item" aria-current="page">
      Alpha assessment 
    </li>

  </ol>
</div>
		<div class="govuk-grid-row column-minimum govuk-clearfix column-full">

    <h1 class="govuk-heading-xl">
        <span class="govuk-caption-l"> Documents to support </span>
   Alpha assessment criteria

    </h1>

<!--<h2 class="govuk-heading-m"> Public Law</h2>-->
		<div class="govuk-grid-row grid-row">
  <div class="govuk-grid-column-full">
	  
	   
      <div class="accordion">

        <div class="accordion-section">

          <div class="accordion-section-header" aria-expanded="true">
            <h2 class="heading-medium">1. Understand user needs</h2>
          </div>
          <div class="accordion-section-body">
			   <p class="govuk-heading-s">The "AS IS" and "TO BE" end to end service user journey has been mapped out with painpoints, user needs and opportunities to improve the service.</p>
        <ul class="page-contents__list"> <li>
				
				
				<a href="public/images/documents/Family-Public-Law-Service Map-AS-IS.pdf" target="_blank"> "AS IS" Family Public Law Service Map </a>
				
				<!--<h2 class="govuk-heading-m"> Apply for a care, supervision or emergency protection order </h2>-->


		
            </li>
				<li>
				
				
				<a href="public/images/documents/Family-Public-Law-Service Map-TO-BE.pdf" target="_blank"> "TO BE" Family Public Law Service Map </a>
				
				<!--<h2 class="govuk-heading-m"> Apply for a care, supervision or emergency protection order </h2>-->


		
            </li>
				
				
				
			  
			  </ul>
			  <p class="govuk-heading-s">A clear set of user needs and user stories were defined during Discovery, through insight gained talking to the different people involved in the service.  </p>
            <ul class="list page-contents__list">
				
				<li >
				
				
				<a href="" target="_blank"> User needs and user stories defined in Discovery</a>
				
				<!--<h2 class="govuk-heading-m"> Apply for a care, supervision or emergency protection order </h2>-->


		
            </li>
				<li>
				
				
				<a href="" target="_blank"> Personas </a>
				
				<!--<h2 class="govuk-heading-m"> Apply for a care, supervision or emergency protection order </h2>-->


             
              
            </li>
				<li>
				
				
				<a href="https://realtimeboard.com/app/board/o9J_kzmWxGM=/" target="_blank"> Real Time board to add/edit user needs by anyone in the team, anytime and anywhere. Virtual wall to record user needs on going bases during research. </a>
				
				<!--<h2 class="govuk-heading-m"> Apply for a care, supervision or emergency protection order </h2>-->


		
            </li>
				<li>
				
				
				<a href="https://realtimeboard.com/app/board/o9J_kzmWuCg=/" target="_blank"> Real Time board to map user flows  </a>
				
				<!--<h2 class="govuk-heading-m"> Apply for a care, supervision or emergency protection order </h2>-->


		
            </li>
				
			
				
				
			  
			  </ul>
			 
			  <p class="govuk-heading-s">Current CA110A PDF application form and document showing what has changed, rationale for change and testing. 
  </p>
        <ul class="page-contents__list"> 
				
				
				<li>
				
				
				<a href="public/images/documents/c110a-eng.pdf" target="_blank"> Current C110A application form in use </a>
				
				<!--<h2 class="govuk-heading-m"> Apply for a care, supervision or emergency protection order </h2>-->


		
            </li>
			<li>
				
				
				<a href="public/images/documents/C110a-application-as-is-to-be.pdf" target="_blank"> Document showing what has changed, rationale for change and testing. We are engaging with the policy team to produce a new online application and also recommend changes to the current offline PDF form.   </a>
				
				<!--<h2 class="govuk-heading-m"> Apply for a care, supervision or emergency protection order </h2>-->


		
            </li>
				
				
			  
			  </ul>
			</div>

        </div>
        <div class="accordion-section">

          <div class="accordion-section-header">
            <h2 class="heading-medium">2. Do ongoing user research</h2>
          </div>
          <div class="accordion-section-body">
            <ul class="list"><li> Plan to do ongoing user research and usability testing to continuously seek feedback from users to improve the service.</li></ul>
          </div>

        </div>

		  <div class="accordion-section">

          <div class="accordion-section-header">
            <h2 class="heading-medium"> 3. Have a multidisciplinary team</h2>
          </div>
          <div class="accordion-section-body">
			  
			  <p>We have a highly experienced team including service owner, product manager, project managers, delivery manager, soutions and technical architect, user researchers, service designer, designer, content designer, web operations engineer, performance analyst, lead developer, developer, front-end developer and testing lead. </p>
			  
            <ul class="list page-contents__list ">
				<li> Service manager -  Emma Petty </li>
				<li> Service owner -  Jason Llewelyn </li>
				<li> Senior project manager - Leeanne Wheeler</li>
				<li> Delivery manager - Andrew Horton </li>
			    <li> Project manager - Shahnaz Khanam </li>
				<li> Project manager - Mark Barwick </li>
				<li> Project manager - Simon Williams </li>
				<li> BA - Samantha Tate </li>
				<li> Solution architect - Andy Summers </li>	
				<li> Service designer - Richard Thompson  </li>
				<li> User researcher - Rob Gillham </li>
				<li> User researcher - Jonathan Richardson </li>
			  	<li> Interaction designer - Sunil Kathare </li>
				<li> Content designer - Elizabeth Jordan</li>
				<li> Testing lead - Samantha Adison </li>
				<li> Lead developer -  coming soon</li>
			    <li> Developer - coming soon</li>
				<li> Front-end developer - coming soon</li>
				<li> Web operations engineer - coming soon</li>
				<li> Performance analyst - coming soon</li>
				
			  
			  </ul>
			  
			  <p>HMCTS reform program has plans to transfer knowledge and skills from contractors. The progeam also has plans to keep improving the service after it goes live </p>
          </div>
			   </div>
		  <div class="accordion-section">

          <div class="accordion-section-header">
            <h2 class="heading-medium"> 4. Use agile methods </h2>
          </div>
          <div class="accordion-section-body">
            <ul class="list"><li>Section content coming soon.</li></ul>
          </div>
			   </div>
		   <div class="accordion-section">

          <div class="accordion-section-header">
            <h2 class="heading-medium"> 5. Iterate and improve frequently </h2>
          </div>

          <div class="accordion-section-body">
			  
			  <p><a href="index#change-log" target="_blank">Change log </a>shows how we:   </p>
            <ul class="list list page-contents__list"><li><!--<h2 class="govuk-heading-m">How to upload e-bundle?</h2>-->


				
We have made changes our service after on user research and user testing session.  
				
				<li>


				
we have made changes to improve it frequently to meet new user needs. 
				
				

				</li>
				<li>
		
explains what we’ve changed and why we have made the changes. 
				
				

				</li>

				</li></ul>
			  
			  
      <p> Our agile design process : </p>


<ul>
  <li></li>
  <li>shows how our service is designed to meet user needs</li>
  <li>shows our process for identifying and prioritising insights from user research</li>
  <li>shows we can move user stories quickly and smoothly between user research and design</li>
  <li>shows there’s minimal risk associated with the technology you chose</li>
  <li>proves we have the ability to deploy software frequently with minimal disruption to users</li>
  <li>shows we’re analysing user research and using it to improve your service</li>
  <li>shows we’re solving any technical problems we’ve found</li>
</ul>
			  
			  
          </div>

        </div>
			
			<div class="accordion-section">

          <div class="accordion-section-header">
            <h2 class="heading-medium"> 6. Evaluate tools and systems</h2>
          </div>
          <div class="accordion-section-body">
			  
			  <p>Below documents shows what tools and systems will be using to build, host, operate and measure the service, and how we plan procure them.</p>
			  
            <ul class="list page-contents__list ">
				<li> Tools </li>
				<li> Tech stack </li>
				<li> Common components </li>
				
			  
			  </ul>
			  
			  <p>HMCTS reform program uses common components and tools to help delivery great user experience. </p>
          </div>
			   </div><!-- section end -->
			<div class="accordion-section">

          <div class="accordion-section-header">
            <h2 class="heading-medium"> 7. Understand security and privacy issues</h2>
          </div>
          <div class="accordion-section-body">
			  
			  <p>We plan to evaluate what user data and information our digital service will be providing or storing and address the security level, legal responsibilities, privacy issues and risks associated with our service. </p>
			  
            <ul class="list page-contents__list ">
				<li> Service manager -  Emma Petty </li>
				<li> Service owner -  Jason Llewelyn </li>
				
				
			  
			  </ul>
			  
			  <p>HMCTS reform program has common plans for security and privacy issues </p>
          </div>
			   </div><!-- section end -->
	  <div class="accordion-section">

          <div class="accordion-section-header">
            <h2 class="heading-medium"> 8. Make all new source code open</h2>
          </div>
          <div class="accordion-section-body">
			  
			  <p>We will make all new source code open and reusable, and publish it under appropriate licences. </p>
			  
            <ul class="list page-contents__list ">
				<li> We will be sharing new design patterns with other teams  </li>
				<li> We will be create common web forms which can be reused by others services. </li>
				
				
			  
			  </ul>
			  
			  <p>HMCTS reform program has principle of trying make code open and reusable.</p>
          </div>
			   </div><!-- section end -->
	  <div class="accordion-section">

          <div class="accordion-section-header">
            <h2 class="heading-medium"> 9. Use open standards and common platforms</h2>
          </div>
          <div class="accordion-section-body">
			  
			  <p>We plan to use open standards and common government platforms where available, including HMCTS IDAM as an option for identity assurance. </p>
			  
            <ul class="list page-contents__list ">
				<li> We will using IDAM for identity assurance  </li>
				<li> We will other service for Fees and payments, which other services at HMCTS are using. </li>
				
				
			  
			  </ul>
			  
			  <p>HMCTS reform program has a principle of trying use open standards and common government platforms where available.</p>
          </div>
			   </div><!-- section end -->
	  <div class="accordion-section">

          <div class="accordion-section-header">
            <h2 class="heading-medium"> 10. Test the end-to-end service</h2>
          </div>
          <div class="accordion-section-body">
			  
			  <p>Be able to test the end-to-end service in an environment identical to that of the live version, including on all common browsers and devices, and using dummy accounts and a representative sample of users </p>
			  
            <ul class="list page-contents__list ">
				<li> coming soon </li>
				<li> coming soon </li>
				
				
			  
			  </ul>
			  
			  <p>HMCTS reform program has a principle of trying use open standards and common government platforms where available.</p>
          </div>
			   </div><!-- section end -->
	  <div class="accordion-section">

          <div class="accordion-section-header">
            <h2 class="heading-medium"> 11. Make a plan for being offline</h2>
          </div>
          <div class="accordion-section-body">
			  
			  <p>In the event of the digital service being taken temporarily offline, users can use old paper based application which the are currently using. </p>
			  
            <ul class="list page-contents__list ">
				<li> coming soon </li>
				<li> coming soon </li>
				
				
			  
			  </ul>
			  
			  
          </div>
			   </div><!-- section end -->
	  <div class="accordion-section">

          <div class="accordion-section-header">
            <h2 class="heading-medium"> 11. Make a plan for being offline</h2>
          </div>
          <div class="accordion-section-body">
			  
			  <p>In the event of the digital service being taken temporarily offline, users can use old paper based application which the are currently using. </p>
			  
            <ul class="list page-contents__list ">
				<li> coming soon </li>
				<li> coming soon </li>
				
				
			  
			  </ul>
			  
			  
          </div>
			   </div><!-- section end -->
	  <div class="accordion-section">

          <div class="accordion-section-header">
            <h2 class="heading-medium"> 12. Make sure users succeed first time</h2>
          </div>
          <div class="accordion-section-body">
			  
			  <p>Create a service which is simple to use and intuitive enough that users succeed the first time. </p>
			  
            <ul class="list page-contents__list ">
				<li> coming soon </li>
				<li> coming soon </li>
				
				
			  
			  </ul>
			  
			  
          </div>
			   </div><!-- section end -->
	  <div class="accordion-section">

          <div class="accordion-section-header">
            <h2 class="heading-medium"> 13. Make the user experience consistent with GOV.UK</h2>
          </div>
          <div class="accordion-section-body">
			  
			  <p> We have built a service consistent with the user experience of the rest of GOV.UK including using the design patterns and style guide from the new design system. </p>
			  
            <ul class="list page-contents__list ">
				<li> coming soon </li>
				<li> coming soon </li>
				
				
			  
			  </ul>
			  
			  
          </div>
			   </div><!-- section end -->
	  <div class="accordion-section">

          <div class="accordion-section-header">
            <h2 class="heading-medium"> 14. Encourage everyone to use the digital service</h2>
          </div>
          <div class="accordion-section-body">
			  
			  <p> We have built a service in way that all users to use the digital service (with assisted digital support if required) alongside we have an appropriate plan to phase out non-digital channels and services. </p>
			  
            <ul class="list page-contents__list ">
				<li> coming soon </li>
				<li> coming soon </li>
				
				
			  
			  </ul>
			  
			  
          </div>
			   </div><!-- section end -->
	    <div class="accordion-section">

          <div class="accordion-section-header">
            <h2 class="heading-medium"> 15. Collect performance data</h2>
          </div>
          <div class="accordion-section-body">
			  
			  <p> Use tools for analysis that collect performance data. Use this data to analyse the success of the service and to translate this into features and tasks for the next phase of development.. </p>
			  
            <ul class="list page-contents__list ">
				<li> coming soon </li>
				<li> coming soon </li>
				
				
			  
			  </ul>
			  
			  
          </div>
			   </div><!-- section end -->
	  <div class="accordion-section">

          <div class="accordion-section-header">
            <h2 class="heading-medium"> 16. Identify performance indicators</h2>
          </div>
          <div class="accordion-section-body">
			  
			  <p> Identify performance indicators for the service, including the 4 mandatory key performance indicators (KPIs) defined in the manual. Establish a benchmark for each metric and make a plan to enable improvements. </p>
			  
            <ul class="list page-contents__list ">
				<li> coming soon </li>
				<li> coming soon </li>
				
				
			  
			  </ul>
			  
			  
          </div>
			   </div><!-- section end -->
	   <div class="accordion-section">

          <div class="accordion-section-header">
            <h2 class="heading-medium"> 17. Report performance data on the Performance Platform</h2>
          </div>
          <div class="accordion-section-body">
			  
			  <p> We have report data and how we'll be assessed  in the future</p>
			  
            <ul class="list page-contents__list ">
				<li> coming soon </li>
				<li> coming soon </li>
				
				
			  
			  </ul>
			  
			  
          </div>
			   </div><!-- section end -->
	  <div class="accordion-section">

          <div class="accordion-section-header">
            <h2 class="heading-medium"> 18. Test with the minister</h2>
          </div>
          <div class="accordion-section-body">
			  
			  <p> We boked in testing session with  minister responsible for our service. Below are dates when we will be  testing with the minister </p>
			  
            <ul class="list page-contents__list ">
				<li> Date when we will be testing the minister</li>
				<li> coming soon </li>
				
				
			  
			  </ul>
			  
			  
          </div>
			   </div><!-- section end -->
	  
      </div>



    <script>
      if (
        'addEventListener' in document &&
        document.querySelectorAll
        ) {

        document.addEventListener('DOMContentLoaded', function() {

          var accordions = document.querySelectorAll('.accordion')

          for (var i = accordions.length - 1; i >= 0; i--) {
            new Accordion(accordions[i])
          };

        })

      }
    </script>
			</div>
			</div>





     <br/>  <br/>






<br/>


    </div>
  </div>
</main>

{% endblock %}
